@import 'foundation';
@import 'foundation.min';
@import 'animate';
@import 'normalize';

/* fonts and color variables */
$font-stack:    "Courier", Helvetica, sans-serif;
$maroon: rgb(90,46,46);
$black: rgb(42,44,49);
$mustard: rgb(223,186,105);
$gray: rgb(62,65,71);


/* app css stylesheet */

body {
  background-color: $maroon;
}

h1, h2, h3, h4, h5, h6, p, label {
  font-family: $font-stack;
  color:white;
}

/*header roll */

header.home-header {
  background-color: $black;
  position: fixed;
  top:0px;
  bottom: 0px;
  left: 0px;
  width:195px;
  text-align: right;
  z-index: 3;
  color: white;
}

p.header-blurb {
  color: white;
  font-size:18px;
}

ul.menu {
  margin:0 auto;
  width: 195px;
  list-style:none;
  text-align:right;
}

li {
  font-family: $font-stack;
  display:block;
  padding:3px 30px 3px 0;
}

p.bottom-info {
  text-align:center;
  position:fixed;
  bottom:0px;
  width:195px;
}

ul {
  text-align:center;
  padding:0px;
}

a {
  color:white;
}

input {
  margin: 0 auto;
  margin-top:10px;
  border:none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

}

input:focus {
  outline:none;
  -moz-box-shadow:    inset 0 0 0px 2px #72a292;
  -webkit-box-shadow: inset 0 0 0px 2px #72a292;
  box-shadow:         inset 0 0 0px 2px #72a292;
  color:#686868;
}

button {
  padding:10px;
  margin: 0 auto;
  margin-top:30px;
  font-size: 26px;
  display:block;
  border: 1px solid white;
  background-color: $gray;
  color: white;
}

button.dis{
  //transition:.5s linear all;
  -moz-box-shadow:    inset 0 0 0px 2px #72a292;
  -webkit-box-shadow: inset 0 0 0px 2px #72a292;
  box-shadow:         inset 0 0 0px 2px #72a292;
}

button:focus {
  outline:none;
}

input.ng-dirty.ng-valid {
  -moz-box-shadow:    inset 0 0 0px 2px #72a292;
  -webkit-box-shadow: inset 0 0 0px 2px #72a292;
  box-shadow:         inset 0 0 0px 2px #72a292;

}

input.ng-dirty.ng-invalid {
    -moz-box-shadow:    inset 0 0 0px 2px #ee7676;
    -webkit-box-shadow: inset 0 0 0px 2px #ee7676;
    box-shadow:         inset 0 0 0px 2px #ee7676;
}

input.ng-dirty.ng-invalid:focus {
  outline:none;
  -moz-box-shadow:    inset 0 0 0px 2px #ee7676;
  -webkit-box-shadow: inset 0 0 0px 2px #ee7676;
  box-shadow:         inset 0 0 0px 2px #ee7676;
}

img#gravatar {
  width:100px;
  height:100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow:     0 0 0px 2px #72a292;
  -webkit-box-shadow:  0 0 0px 2px #72a292;
  box-shadow:          0 0 0px 2px #72a292;
}

.centerCard {
  width:356px;
  margin: 0 auto;
  margin-top: 100px;
  text-align:center;
}

.centerCard-login {
  width:356px;
  margin: 0 auto;
  margin-top: 250px;
  text-align:center;
}

h1 {
  text-align:center;
}

ul.center {
  padding:0px;
}

li.error {
  color: #ee7676;
}

li.success {
  color:white;
}

h1.big {
  margin-top:50px;
  font-size:72px;
  margin-bototm:0px;
}

.input-div {
  position:relative;
}

.bad {
  background-image: url('../img/bad.png');
  background-size:cover;
  height:20px;
  width:20px;
  position:absolute;
  right:90px;
  bottom:10px;
  color:black;
}

.good {
  background-image: url('../img/good.png');
  background-size:contain;
  height:20px;
  width:20px;
  position:absolute;
  right:90px;
  bottom:10px;
  color:black;
}

/* err_messages */
.err-messages {
  transition:1s linear all;
}
.err-messages.ng-active {
  // messages are visible
}
.err-messages.ng-inactive {
  // messages are hidden
}

.some-message {
  transition:1s linear all;
}

.some-message.ng-enter {}
.some-message.ng-enter.ng-enter-active {
  transition:1s linear all;
}

.some-message.ng-leave {}
.some-message.ng-leave.ng-leave-active {
  transition:1s linear all;
}



/* navel panel styles */

.menu {
  li {
    text-align: center;
    &:hover {
      background-color: $mustard;
    }
  }
}

.activePanel {
  background-color: $gray;
}

/* home styles */



.creatorBox {
  position: fixed;
  background-color: black;
  opacity: 0.4;
  .creatorName {
    color: white;
  }
}

/* logo animation styles *?

/* Main styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.text--transparent {
  fill: transparent;
}

.anim-shape {
  -webkit-transform-origin: 0x 150px;
  -ms-transform-origin: 0x 150px;
  transform-origin: 0x 150px;
  -webkit-transform: scale(0, 1) translate(0, 0);
  -ms-transform: scale(0, 1) translate(0, 0);
  transform: scale(0, 1) translate(0, 0);
  -webkit-animation: moving-panel 3s infinite alternate;
  animation: moving-panel 3s infinite alternate;
}

.colortext .anim-shape:nth-child(1) {
  fill: #0E1826;
}

.colortext .anim-shape:nth-child(2) {
  fill: #166973;
}

.colortext .anim-shape:nth-child(3) {
  fill: #65BFA6;
}

.colortext .anim-shape:nth-child(4) {
  fill: #F2CD5C;
}

.colortext .anim-shape:nth-child(5) {
  fill: #F26444;
}

.shadow {
  -webkit-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}

.anim-shape--shadow {
  fill: #000;
  fill-opacity: .2;
}

@-webkit-keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}

@keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}


/*logo animation styles */

#big-title{
    font-family: $font-stack;
    color: white;
    font-size: 3em;
    width: 3.9em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 0.5s steps(10, end);
    animation: type 0.5s steps(10, end);
    span{
      animation: blink 1s infinite;
      -webkit-animation: blink 1s infinite;
    }
}

@keyframes type{
    0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
}

@-webkit-keyframes type{
   0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
}


@keyframes blink{
  to{opacity: .0;}
}

@-webkit-keyframes blink{
  to{opacity: .0;}
}

#entrance-text-1, #entrance-text-2 {
  width: 22em;
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: type 3s steps(60, end);
  animation: type 3s steps(60, end);
}

#entrance-text-2 {
  width: 13em;
  span{
      animation: blink 1s infinite;
      -webkit-animation: blink 1s infinite;
    }
}

#entrance-text-3 {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
}

.poemBox {
  margin-top: 30px;
/*  background-color: #D5CE9E;*/
  color: black;
  background-color: rgb(255,254,223);
  -webkit-box-shadow: 6px 10px 66px -4px rgba(0,0,0,0.77);
  -moz-box-shadow: 6px 10px 66px -4px rgba(0,0,0,0.77);
  box-shadow: 6px 10px 66px -4px rgba(0,0,0,0.77);
  border-radius: 25px;
  h2, h3, h5, label {
    color: black;
  }
  label {
    font-size: 25px;
  }

  .newline-input {
    background-color: white;
    color: black;
    width: 50%;
    height: 40px;
    text-align: center;
  }
}

/* new poem partial */

.title-row {
  margin-top: 130px;
}

.newPoemBox {
  padding-top: 40px;
  padding-bottom: 40px;
}

.helpBox {
  @extend .poemBox;
  padding: 30px;
  background-color: $black;
  display:none;
  h5 {
    color: white;
  }
}

.container {
  width: 100%;
  margin-left: 192px;
}