/* app css stylesheet */
body {
  font-family: 'Open Sans', sans-serif;
  color:white;
  background-color:#9CDDC8;
}

ul.menu {
  margin:0 auto;
  width: 180px;
}

li {
  display:inline;
}

a {
  color:white;
}

input {
  padding:10px;
  margin: 0 auto;
  height:20px;
  width:180px;
  margin-top:10px;
  border:none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

}

input:focus {
  outline:none;
  -moz-box-shadow:    inset 0 0 0px 2px #72a292;
  -webkit-box-shadow: inset 0 0 0px 2px #72a292;
  box-shadow:         inset 0 0 0px 2px #72a292;
  color:#686868;
}

button {
  margin: 0 auto;
  margin-top:10px;
  height:40px;
  display:block;
  background-color: #72a292;
  border:none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input.ng-dirty.ng-valid {
  color:#686868;
}

input.ng-dirty.ng-invalid {
    color: #ee7676;
}

.centerCard {
  width:356px;
  margin: 0 auto;
  margin-top: 100px;
  text-align:center;
}

h1 {
  text-align:center;
}
