<h1 class="big">Poemy</h1>
<div class="centerCard">
	<div class="poemCard" ng-class="animateCard">
		<h2>{{poem.title}}</h2>
		<div ng-class="animateLine">
			<h3 ng-repeat="line in poem.lines">{{line}}</h3>
		</div>
	</div>
	<input type="text" ng-model="newLine" />
	<div class="line-submit-container">
		<button ng-click="submit(newLine)">Don't be shy. Add your line.</button>
		<div class="note-container"></div>
	</div>
	<button ng-click='makeNewPoem()'>Create New Poem</button>
	<button ng-click='getRandomPoem()'>Get Random Poem</button>
</div>
