<h2 class="text-center">Create a new poem</h2>
<div class="small-12 columns">
	<form name="newPoemForm" ng-submit="newPoemForm.$valid && postPoem()" novalidate>
		<div class="row">
    		<div class="small-8 small-centered columns">
      			<div class="row">
       				<div class="small-3 columns">
          				<label for="right-label" class="right">This new poem is a: </label>
        			</div>
		       		<div class="small-9 columns">
			          	<select name="newpoemtype" id="right-label" ngModel="type" required>
							<option value="haiku">haiku</option>
							<option value="limerick">limerick</option>
							<option value="sonnet">sonnet</option>
						</select>
		        	</div>
      			</div>
    		</div>
  		</div>

  		<div class="row">
  			<div class="small-6 small-centered columns">
				<label>and give it a title:
					<input type="text" ngModel="newTitle" required />
				</label>
			</div>
		</div>
		<div class="row">
			<button>Let's start a poem</button>
		</div>
	</form>
	<div class="row text-center">
			<p>{{newTitle}}</p>
			<p>{{type}}</p>
		</div>
</div>