<div class="centerCard">
	<div>
		<h1>{{poem.title}}</h1>
		<p><i>{{poem.type}}</i></p>
		<div class= "poemBox" ng-repeat="line in poem.lines">
			<div class="small-9 small-centered columns">
				<div class="row">
					<h3>{{line.content}}</h3>
					<h5>
						<a ng-if="line.creator !== 'Anonymous'" href="#/user/{{line.creator}}">
							<i>{{line.creator}}</i>
						</a>
						<i ng-if="line.creator == 'Anonymous'">
							{{line.creator}}
						</i>
					</h5>
				</div>
			</div>
		</div>
	</div>
</div>
