<!doctype html>
<html ng-app="poemy">
	<head>
	  <meta charset="utf-8">
	  <title>Poemy</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	  <link rel="stylesheet" href="app/poemy.css">
	</head>
	<body>
		<h1 class="text-center">POEMY</h1>
		<hr />
		<div class="row" ng-controller="PoemController as poemCtrl">
			<button id="getPoem">Get Poem</button>
			<div class="poem-box col-md-12"></div>
			<!-- <div class="row">
				<h2>Incomplete Poems</h2>
				<div class="col-md-4 poem-box" ng-repeat="poem in poemCtrl.poems" ng-hide="poem.complete">
					<h3>{{poems.poem.title}}</h3>
					<div ng-repeat="line in poem.lines">{{line}}</div>	
					 <form name="lineForm" ng-controller="LineController as lineCtrl" ng-submit="lineCtrl.addNewLine(poem)">
					 	<div>{{lineCtrl.newLine}}</div>
					 	<input ng-model="lineCtrl.newLine" placeholder="add a line">
					 </form>
				</div>
			</div>
			<hr />
			<div class="row">
				<h2>Completed Poems</h2>
				<div class="col-md-4 poem-box" ng-repeat="poem in poemCtrl.poems" ng-show="poem.complete">
					<h3>{{poems.poem.title}}</h3>
					<div ng-repeat="line in poem.lines">{{line}}</div>	
				</div>
			</div> -->
		</div>
	<script type="text/javascript" src="app/assets/js/angular.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	</body>
</html>
