body {
	background: #E4E4E4;
	
}

.nav {
	margin-top: 20px;
}

.row {
	h2 {
		text-align: center;
	}
}

.poem-box {
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
}

#getPoemButton {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#newLineForm {
	width: 30%;
	margin: 0 auto;
	input {
		text-align: center;
	}
}